* {
  margin: 0;
  padding: 0;
}

*:not(.fas):not(.fab):not(.far) {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

#strong {
  font-weight: 450;
}

body {
  min-height: 110vh;
  background-color: #E84A5F;
  margin: 0;
  padding: 0;
}

#all {
  margin: 0;
}

#fst {
  background-color: white;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#fst-image {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#empty,
#full {
  -webkit-animation: wheel 5s infinite linear;
          animation: wheel 5s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#light {
  -webkit-animation: light 3s infinite linear;
          animation: light 3s infinite linear;
}

@-webkit-keyframes wheel {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes wheel {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#fst-content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fst-content h4 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-character;
}

#fst-content h1 {
  margin-bottom: 30px;
}

a.join {
  color: #E84A5F !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

a.join:hover {
  color: #7eb97c !important;
  text-decoration: none;
}

#scnd {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#scnd-content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scnd-content h4 {
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}

#scnd-content h1 {
  margin-bottom: 30px;
}

#thrd {
  background-color: white;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#thrd-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#thrd-content a {
  color: #E84A5F;
}

.uk-card p {
  margin-bottom: 0;
}

.uk-card a {
  font-size: 13px;
}

.uk-card .uk-card-body {
  padding-bottom: 0;
}

.uk-card #tags {
  margin-bottom: 10px;
  margin-top: 25px;
}

.uk-card .uk-label {
  background-color: #7EB97C;
  color: white !important;
}

.uk-card .uk-label:hover {
  background-color: #99B898;
  text-decoration: none;
}

/* for big screens */
@media only screen and (min-width: 768px) {
  #fst {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
    padding-right: 100px;
  }
  #fst-content {
    width: 50%;
    padding-left: 4%;
  }
  #fst-image {
    width: 50%;
  }
  #scnd {
    min-height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
  }
  #scnd-content {
    width: 40%;
    padding-right: 4%;
  }
  #scnd-image {
    width: 40%;
  }
  #thrd {
    min-height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
  }
  #thrd-content {
    width: 610px;
  }
}
/*# sourceMappingURL=home.css.map */